{% extends 'base.html'%}
{% block titulo%}Perfil | Biblioteca{% endblock titulo%}
{% block conteudo%}
  {% load static%}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">Perfil</h1>
        <div class='clearfix'>
          <div class='float-left'>
            <img src="{{session.userinfo.picture}}" alt="..." class="rounded-circle">
          </div>
          <div class='float-right'>
            <img src="{% static 'images/biblioteca-icon.png'%}" alt="..." class="rounded-circle" width="22.7%" height="auto">
          </div>
        </div>
        <div>
          <p></p>
        </div>
        <div class="card text-dark text-left" style='padding:10px'>
            <div>
                <div>
                  <h4 class='text-center'>Logado como <strong>{{session.userinfo.name}}</strong></h4>
                </div>
                <div>
                  <div><pre>{{pretty}}</pre></div>
                </div>
            </div>
        </div>
        <p></p>
        <a href="/logout" class="btn btn-lg btn-secondary">Sair</a>
    </div>
{% endblock conteudo%}