{% extends 'base.html'%}
{% block titulo%}Perfil | Garagem{% endblock titulo%}
{% block conteudo%}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <h1 class="cover-heading">Perfil</h1>
        <div class='text-left'>
            <img src="{{auth0_user.extra_data.picture}}" alt="..." class="rounded-circle">
        </div>
        <br>
        <div class="card text-dark text-left" style='padding:10px'>
            <div>
                <div>
                    {% for chave, valor in user_data.items %} 
                        {% if chave == 'name'%}
                            <h4 class=>Usuário: <strong>{{valor}}</strong></h4>
                        {%endif%}
                    {% endfor %}
                </div>
                <div>
                    {% for chave, valor in user_data.items%}
                        {% if chave == 'user_id'%}
                            <h4>Uid: <strong>{{valor}}</strong></h4>
                        {%endif%}
                    {% endfor%}
                </div>
            </div>
        </div>
        <BR>
        <a href="/" class="btn btn-sm btn-outline-info">Home</a>
        <br>
        <a href="/logout" class="btn btn-lg btn-secondary">Sair</a>
    </div>
{% endblock conteudo%}